@font-face {
  font-family: Elephant;
  src: url(/fonts/Elephant.ttf)
}
div.column {
  width: 33%;
}
.border-lr {
  border-left: 1px solid;
  border-right: 1px solid;
}
h1 {
  border-bottom: 1px solid;
}
h2 {
  border-bottom:  none;
}

table {
  border-collapse: unset;
}

h1.title{
  border-bottom: none;
  color: white;
}

h1 {
  color: goldenrod;
}
h1>text {
    font-family: Elephant;
}

h1.download-header {
  border-bottom: none;
}

text.normal {
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight)
}
/ * fix class normal font-size in toc * /
nav#TOC text.normal {
    font-size: 0.875rem;
}
[id^='toc-'] text.normal {
    font-size: 0.875rem;
}

[id^='toc-'] text {
    display: none;
}